# Auto detect text files and perform LF normalization
* text=auto

# Fashion Detection Training
backend/fashion_detection_training/**/*.jpg filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.png filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.json filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.pt filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.pth filter=lfs diff=lfs merge=lfs -text
backend/fashion_detection_training/**/*.weights filter=lfs diff=lfs merge=lfs -text

