# Python virtual environments
venv/
env/
ENV/
.env/
.venv/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Test results
test_results/
fashion_detection_training/data/test/
fashion_detection_training/data/train/
fashion_detection_training/data/validation/
backend/fashion_detection_training/data/data.yaml
backend/fashion_detection_training/data/